.Container {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background: white;
    box-shadow: 0px 15.6457px 31.2913px rgba(35, 23, 5, 0.26);
    border-radius: 17.22px;
    padding: 56px 115px 10px 40px;
    font-family: "Roboto", sans-serif;
}


